import streamlit as st
import pandas as pd
import numpy as np
import credits
import time
import speech_recognition as sr
from bokeh.models.widgets import Button
from bokeh.models import CustomJS
from streamlit_bokeh_events import streamlit_bokeh_events as ASR
from TTS import TTS
import spacy
from collections import Counter
import re
import torch.nn as nn
import torch
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from torchtext.legacy import data
import random
